body{
    background-color: rgb(147, 216, 216);
    background-image: url("image6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}    
.center-header{
    font-style: italic;
    text-align: center;
    
}

.skill-container{
    box-shadow: 10px;
    border: solid ;
    text-align: center;

    padding: 5px;
}
